.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(223 226 233);
  height: 60px;
  align-items: center;
  border-bottom: 1px solid black;
}
.search_admin_section {
  display: flex;
  gap: 96px;
  justify-content: center;
  align-items: center;
}
.search_admin_section input {
  height: 40px;
  width: 220px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-align: center;
}
